
* {
    margin: 0;
    padding: 0;
    background-color: orange;
} 

h1{
    text-align: center;
    color: blueviolet;
    
}

h3 {
    text-align: center;
    color: white;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 15px;
}

a {
    font-family: cursive;
    color: rgb(20, 133, 84);
   
}

button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }


  .button {
    text-align: center;

  }

