.button_1 {
    text-align: center;
}

button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #af4e4c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

  h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

   /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  display: inline-block;
  width: 32%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  clear: both;
  display: table;
} 

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border-radius: 15px;
}

h1 {
  font-family: cursive;
  color: aqua;
}